<title>{{ site.title }} | {{ page.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="copyright" content="{{ site.copywrite }}">
<meta name="language" content="english">
<meta name="ROBOTS" CONTENT="NOARCHIVE">
<meta name="GOOGLEBOT" CONTENT="NOSNIPPET">
<meta name="googlebot" content="noodp">

<link rel="stylesheet" type="text/css" href="styles/main.min.css">